@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --colore: #E7ECEF;
    --colore1: #274C77;
    --colore2: #6096BA;
    --colore3: #A3CEF1;
    --colore4: #8B8C89;
    --colore5: #525252;
    --fontTitoli: 'Roboto', sans-serif;
    --fontPagina: 'Roboto', sans-serif;
    --bordoTondo: 20px;
}

*{
    margin: 0;
    padding: 0;

    font-family: var(--fontPagina);
    color: var(--colore5);
}





